.cart-style, .added-participate{
    margin-left: 20px;
    border: 3px solid rgb(2, 51, 56);
    text-align: center;
    border-radius:10px;
    background-image: url(./uni-bgjpg.jpg);
    color: rgb(12, 25, 82);
    margin-bottom: 10px;
}
.participate h4{
    font-size:20px;
}