.university-list{
    background-color: rgba(8, 8, 8, 0.877);
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}
.university-list input{
    width: 50%;
    border-radius: 10px;
    padding: 10px 10px;
    color: rgb(12, 117, 209);
    font-size:20px;
    font-weight: bold;
}
.universities-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 20px;
}
.university-container{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}