.university-style{
    border: 2px solid lightslategray;
    border-radius:5px;
    margin-left: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.university-style h3{
    font-size:20px;
}
.university-style img{
    width:200px;
    height: 200px;
}
.university-style:hover{
    background-image: url(./body.jpg);
    border: 2px solid skyblue;
}
.btn-regular{
    background-color: rgba(238, 204, 13, 0.541);
    width: 150px;
    height: 25px;
    color: rgb(2, 18, 27);
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}